/*general*/
html, body {
    height: 100%;
}

body, h1, h3, p, a {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dce1e6;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, a, button, li {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.image-white {
    display: none;
}

/*util*/
.justify-center {
    display: flex;
    justify-content: center;
}

.justify-end {
    display: flex;
    justify-content: end;
}

.description{
    color: #233d5f;
    font-size: 0.95rem;
}

.glow-title {
    margin-top: 2rem;
    font-family: 'Inter', sans-serif;
    text-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.sep-bar {
    height: 0.125rem;
    width: 100%;
    flex-grow: 1;
    border-radius: 1rem;
    background-color: #3a3a3a;
}

.ver-sep-bar {
    height: 1.7rem;
    width: 0.125rem;
    border-radius: 1rem;
    background-color: #3a3a3a;
}

/*blur ball*/
.blur-ball {
    position: absolute;
    top: 53%;
    left: 48%;
    border-radius: 50%;
    height: 36rem;
    aspect-ratio: 1;
    translate: -50% -50%;
    background: linear-gradient(
        to right,
        fuchsia,
        aqua
    );
    animation: rotate 36s infinite;
    filter: blur(7rem);
    z-index: -1;
}

.small-blur-ball {
    height: 9rem;
    filter: blur(2rem);
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.1;
    }

    to  {
        rotate: 360deg;
    }
}

/*hover card*/
.hover-card-container {
    perspective: 1000px;
}
  
.hover-card {
    width: 275px;
    height: 400px;
    background: linear-gradient(135deg, fuchsia, aqua);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.hover-card > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
  
.hover-card:hover {
    transform: rotateY(15deg) rotateX(5deg);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5), 0 4px 15px rgba(255, 255, 255, 0.2);
}

/*index.html*/
.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 4.3rem;
    font-family: 'Inter', sans-serif;
    white-space: nowrap;
}

.slogan {
    margin-top: 0.3rem;
    font-size: 1.1rem;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    padding-top: 1rem;
}

.top-right-icon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

/*team.html*/
.team-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}

.team-blur-ball {
    background: rgba(255, 255, 255, 0.2);
    filter: blur(72rem);
}

/*projects.html*/
.projects-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    gap: 1.8rem;
    margin-top: 3rem;
    max-width: 85%;
}

.project-card {
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.project-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5), 0 4px 15px rgba(255, 255, 255, 0.2);
}

.project-title {
    font-size: 1.2rem;
}

.project-button {
    width: fit-content;
    padding: 0.5rem 1.25rem;
    background-color: #7ec5ff;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 0.2rem;
}

/*articles*/
.article-link {
    text-decoration: none;
}

/*contact.html*/
.contact-title{
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
    white-space: nowrap;
}

.contact-blur-ball-1 {
    top: 30%;
    left: 60%;
    height: 9rem !important;
}

.contact-blur-ball-2 {
    top: 40%;
    left: 25%;
    background: linear-gradient(to right, sandybrown, darkturquoise);
    height: 15rem !important;
}

.contact-blur-ball-3 {
    top: 70%;
    left: 75%;
    background: linear-gradient(to right, crimson, mediumseagreen);
    height: 12rem !important;
}

.contact-blur-ball-4 {
    top: 65%;
    left: 52%;
    background: linear-gradient(to right, slateblue, hotpink);
    height: 7rem !important;
}

.contact-blur-ball-5 {
    top: 80%;
    left: 35%;
    background: linear-gradient(to right, cornflowerblue, lawngreen);
    height: 9rem !important;
}

/*blog*/
.blog-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 64rem;
    padding: 5rem 24rem 0 24rem;
}

.blog-container h1 {
    margin: 0.67em 0;
    padding: 0;
}

.blog-container h3 {
    margin: 1em 0;
    font-size: 1.17em;
}

.blog-container p {
    margin: 1em 0;
    padding: 0;
}

.blog-container ol, .blog-container ul {
    padding-left: 25px;
    margin: 4px 0;
}

.blog-container > * {
    overflow-wrap: break-word;
}

/*dark theme*/
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1c1e20;
    }

    h1, h2, h3, h4, h5, h6, p, a, button, li {
        color: #f6fbff;
    }

    .image-white {
        display: block;
    }

    .image-black {
        display: none;
    }

    .glow-title {
        text-shadow: 0 4px 15px rgba(255, 255, 255, 0.4);
    }

    .description {
        color: #88a2c9;
    }

    .sep-bar {
        background-color: #d8d8d8;
    }

    .ver-sep-bar {
        background-color: #d8d8d8;
    }

    .blur-ball {
        height: 34rem;
        filter: blur(16rem);
    }

    .small-blur-ball {
        filter: blur(4rem);
    }

    .project-card {
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
}

/*responsive stuff*/
@media (width < 96rem) {
    .projects-container {
        max-width: 95%;
    }

    .blog-container {
        max-width: 52rem;
        padding: 4rem 0 0 12rem;
    }
}

@media (width < 60rem) {
    .projects-container {
        max-width: 99%;
    }

    .blog-container {
        max-width: 42rem;
        padding: 3rem 0 0 6rem;
    }
}

@media (width < 54rem) {
    .project-card {
        width: 90%;
    }

    .blog-container {
        max-width: 32rem;
        padding: 3rem 0 0 5rem;
    }
}

@media (width < 36rem) {
    .title {
        font-size: 3.2rem;
    }

    .top-right-icon {
        visibility: hidden;
    }

    .projects-container, .team-container {
        gap: 1rem;
    }

    .blog-container {
        max-width: 22rem;
        padding: 2rem 0 0 2rem;
    }
}
